main *:not(h1){
    text-align:left;
}

div.dots{
    margin:auto;
    height:100px;
    width:250px;
    border:solid 1px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
}

div.dots > div{
    width:20px;
    height:20px;
    background-color: black;
    border-radius: 50%;    
}

@keyframes dotmove{
    0% {
        transform: translateY(0px);
    }
    66% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

div.dots > div:first-of-type{
    animation: dotmove 1s ease-in-out alternate infinite;
}

div.dots > div:nth-of-type(2){
    animation: dotmove 1s ease-in-out 0.33s alternate infinite;
}

div.dots > div:last-of-type{
    animation: dotmove 1s ease-in-out 0.66s alternate infinite;
}

.cadre-gibbon{
    background: url(../Images/jungle.avif);
    background-repeat: no-repeat;
    background-size: cover;

    min-height:500px;
}

.branche-gibbon{
    width:200px;
    margin:auto;
    transform-origin: top center;
    visibility: hidden;
}

.play-animation .branche-gibbon{
    visibility: visible;
    animation: gibbon-move 6s;
}

.branche-gibbon img{
    width:100%;
}

@keyframes gibbon-move{
    0%{
        transform: rotateZ(90deg);
    }
    36%{
        transform: rotateZ(-90deg);
    }
    40%{
        transform: rotateZ(-90deg) rotateY(180deg);
    }
    76%{
        transform: rotateZ(90deg) rotateY(180deg);
    }
    80%{
        transform: rotateZ(90deg) rotateY(0deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}