@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('general.css');

body{
    background-color: #ECDDBE;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: Raleway;
  }  

main{
    max-width: 900px;
    margin:auto;
}


header p.site-title{
    display: flex;
    margin-top: 0px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    background-image: url(../Images/bauhaus-gauche.svg), url(../Images/bauhaus-droite.svg);
    background-position: left, right;
    background-repeat: no-repeat;
    background-color: #C43026;
    height: 219px;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

@media only screen and (max-width: 775px) {
  header p.site-title{
    background-image: url(../Images/bauhaus-gauche.svg);
  }
}

header nav {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #E3C000;
    text-align: center;
    width: 900px;
    margin: auto;
}
        
footer nav{
    display: flex;
    justify-content: center;
    text-decoration: none;    
}

nav a{
    
    border: 1px solid #0465B9;
    padding: 5px;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #0465B9;
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
            
}

pre{
    display: inline-block;
    background-color: white;
    padding-right: 25px;
}

.fondBat{
    background-image: url(../Images/font-bat.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%; 
}

.batiment{
    text-align: center;
    display: block;
    background-image: url(../Images/batiment-bauhaus.png);
    background-size: cover;
    height: 210px;
    width: 185px;

}

div.zoom{
    background-image: url(../Images/oeuvre.png);
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition-property: transform;
    transition-duration: 2s;
}