body{
    overflow-x: hidden;
}

main>*:where(:not(div.carrousel) :not(ul) :not(section)){
    padding:0px 10px;
}

.bold{
    font-weight:bold;
}

.text-align-center{
    text-align: center;
}

.color-red{
    color:red;
}

.color-blue{
    color:blue;
}

.color-green{
    color:green;
}

.color-gray{
    color:gray;
}

.color-cyan{
    color:cyan
}

.color-orange{
    color:orange;
}

.underline{
    text-decoration: underline;
}

pre{
    max-width: 100%;
    overflow-x: auto;
}