@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('general.css');

body{
    background-image: url(../Images/collage.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    font-family: glass antiqua;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr 150px;
    column-gap: 10px;
}

main{
    grid-row: 1;
    grid-column: 2;
    background-color: rgba(255,255,255,0.8);
}

*{
    box-sizing: border-box;
    text-align: center;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    text-decoration: none;
    color: yellow;
    background-color: white;

    padding-top: 70px;
    height: 500px;
    border-radius: 20px;
    border: solid #ff3f3f 1px;
    
}
        

footer nav{
    background-color: yellow;
    border: 0;
}

nav a{

    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #ff3f3f;
    text-decoration: none;
    margin: 10px;
            
}


nav header{
    height: 200px;
}

a{
    background-color: yellow;
    color: black;
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
}

.bauhaiskesako{
    display:block;
}

/*---------------------*/


       

footer nav{
    display: flex;
    justify-content: center;
    text-decoration: none;    
}

footer nav a{
    background-color: white;
    color: black;
}

header{
    padding: 5px;
}

h2.accueil{
    background-color: yellow;
    color: black;
    border-radius: 20px;
}

div.site-info{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    padding: 10px;
}

.site-logo img{
    max-width:100%;
}

.batiment{
    text-align: center;
    display: block;
    background-image: url(../Images/tournesol.png);
    background-size: cover;
    height: 150px;
    width: 100px;
    background-color: transparent;
    border: 0;

}

.fondBat{
    background-image: url(../Images/coquellicots.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%; 
}


p#transformation{
    display: none;
}

p#retour{
    display: none;
}


#transformation:target + p{
    
    transform: translate(500px) rotate(20deg);
    transform-origin: 0 -350px;
    transition-property: all;
    transition-duration: 5s;
    opacity: 0;
}

#retour:target + div p + p + p{
    transform: translate(0px) rotate(0deg);
    transform-origin: 0 -350px;
    transition-property: transform;
    transition-duration: 5s;
    opacity: 1;
}

main div:not(.zoom){
    background-color: rgba(1, 84, 174, 0.87);
    margin: 0 50px 0 50px;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

div.zoom{
    background-image: url(../Images/dali.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition-property: transform;
    transition-duration: 2s;
}

.zoom:hover{
    transform: scale(200%);
    transition-property: transform;
    transition-duration: 2s;
    
}

.premier{
    border-right: solid black;
}

.deuxieme{
    border-left: solid black;
}

div.deuxieme{
    margin: 50px;
}

.codecible{

    opacity: 1;
    transform: scale(100%);
    transition-property: all;
    transition-duration: 2s;
}

.test2{
    opacity: 0;
    transition-property: opacity;
}

section{
    display: flex;
    margin: auto;
    overflow: hidden;
    width: 287px;
    height: 175px;
}



@media only screen and (max-width: 1020px) {
  
    nav {
        height: unset;
        flex-direction: row;
        padding-top: 0;

    }
        
    body {
        display: block; 
    }

    footer nav{
        margin: 20px;
    } 

}

@media only screen and (max-width: 600px) {
div.deuxieme {
        display: flex;
        flex-wrap: wrap;
        
}
    .deuxieme{
    border-top: solid black;
        border-left: 0;
}
}

@media only screen and (max-width: 720px) {
section{

    width: 400px;
    height: 300px;
}
}

