main #transformation{
    display: none;
}

main #retour{
    display: none;
}

main #transformation:target + p a{
    
    transform: translate(500px) rotate(20deg);
    transform-origin: 0 -350px;
    transition-property: all;
    transition-duration: 5s;
    opacity: 0;
}

main #retour:target + div p + p + p a{
    transform: translate(0px) rotate(0deg);
    transform-origin: 0 -350px;
    transition-property: transform;
    transition-duration: 5s;
    opacity: 1;
}

main div.fondBat, div.deuxieme{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

div.fondBat>*{
    flex:1 45%;
}

main .premier{
    border-right: solid black;
}

main .deuxieme{
    border-left: solid black;
}

main p img{
    height: 200px;
    width: 350px;
    opacity: 0;
    transform: scale(0);
    transition-property: all;
    transition-duration: 2s;
}

main .codecible{

    opacity: 1;
    transform: scale(100%);
    transition-property: all;
    transition-duration: 2s;
}

main .test2{
    opacity: 0;
    transition-property: opacity;
}

main section{
    margin: auto;
    overflow: hidden;
    width: 550px;
    height: 340px;
    max-width:100%;
}

main .zoom:hover{
    transform: scale(150%);
    transition-property: transform;
    transition-duration: 2s;
    
}

main .batiment, main .batiment2{
    text-align: center;
    display: block;
    background-size: cover;
    height: 210px;
    width: 185px;
    background-color: unset;
}

div.deuxieme>p{
    flex:1 45%;
}